<h1>Editar cita</h1>

<%= form_with model: @appointment, url: appointment_path(@appointment), method: :patch, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :reason, "Motivo", class: "form-label" %>
    <%= f.text_field :reason, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :scheduled_at, "Fecha y hora", class: "form-label" %>
    <%= f.datetime_local_field :scheduled_at, class: "form-control" %>
  </div>

  <div class="d-flex gap-2">
    <%= f.submit "Guardar cambios", class: "btn btn-primary" %>
    <%= link_to "Cancelar", appointments_path, class: "btn btn-secondary"  %>
  </div>
<% end %>
