<!DOCTYPE html>
<html>
  <head>
    <title>Hospita Ai</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application.bootstrap", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body class="bg-body">
  <%= render "shared/flashes" %>
  <%= link_to "Skip to main content", "#main-content", class: "visually-hidden-focusable" %>
  <header>
    <%= render "shared/navbar" %>
  </header>
  <main id="main-content" class="container py-4">
    <%= yield %>
    <%= render "shared/chat_fab" %>
    <%= render "shared/chat_modal" %>
  </main>
</body>

</html>
